.cell[data-v-76dab11a] {
  font-family: Architects Daughter, cursive;
  font-size: 64px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  width: 94px;
  height: 94px;
  color: #312603;
  border: 1px solid #8b9b9b;
  cursor: pointer;
}
.cell.highlight[data-v-76dab11a] {
  color: #9acd32;
}
.fade-enter-active[data-v-76dab11a],
.fade-leave-active[data-v-76dab11a] {
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
.fade-enter[data-v-76dab11a],
.fade-leave-to[data-v-76dab11a] {
  opacity: 0;
}
.board[data-v-26c77327] {
  display: inline;
  border: 4px solid #8b9b9b;
  background-color: #fff;
  -webkit-box-shadow: 10px 10px 5px 0 rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 5px 0 rgba(0, 0, 0, 0.75);
}
.board .row[data-v-26c77327] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}
.wrapper[data-v-5eeaa7b1] {
  position: fixed;
  background: rgba(0, 0, 0, 0.1);
  width: 100vw;
  height: 100vh;
}
.report[data-v-5eeaa7b1] {
  position: absolute;
  top: 12px;
  width: 50vw;
  margin: auto;
  border: 1ps solid #8b9b9b;
  background: #ccc;
  -webkit-box-shadow: 10px 10px 5px 0 rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 5px 0 rgba(0, 0, 0, 0.75);
  padding: 16px 16px 0;
  cursor: default;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
@media (max-width: 600px) {
  .report[data-v-5eeaa7b1] {
    width: 75vw;
  }
}
.message[data-v-5eeaa7b1] {
  font-size: 120%;
  margin: 36px 24px 16px;
}
.close[data-v-5eeaa7b1] {
  font-size: 32px;
  cursor: pointer;
  position: absolute;
  top: 6px;
  right: 10px;
}
.cta[data-v-5eeaa7b1] {
  font-size: 80%;
  cursor: pointer;
  margin-bottom: 16px;
}
.slide-enter-active[data-v-5eeaa7b1] {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.slide-leave-active[data-v-5eeaa7b1] {
  -webkit-transition: all 0.8s cubic-bezier(1, 0.5, 0.8, 1);
  transition: all 0.8s cubic-bezier(1, 0.5, 0.8, 1);
}
.slide-enter[data-v-5eeaa7b1],
.slide-leave-to[data-v-5eeaa7b1] {
  -webkit-transform: translateY(-300px);
  transform: translateY(-300px);
  opacity: 0;
}
.wrapper[data-v-26ca8564] {
  position: fixed;
  background: rgba(0, 0, 0, 0.1);
  width: 100vw;
  height: 100vh;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.modal[data-v-26ca8564],
.wrapper[data-v-26ca8564] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.modal[data-v-26ca8564] {
  border: 1ps solid #8b9b9b;
  background: #ccc;
  -webkit-box-shadow: 10px 10px 5px 0 rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 5px 0 rgba(0, 0, 0, 0.75);
  padding: 32px;
}
.modal .header[data-v-26ca8564] {
  font-weight: 700;
  text-align: center;
  margin-bottom: 32px;
}
.modal .body[data-v-26ca8564] {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.modal .body[data-v-26ca8564],
.modal .body button[data-v-26ca8564] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.modal .body button[data-v-26ca8564] {
  font-family: Architects Daughter, cursive;
  font-size: 64px;
  -ms-flex-line-pack: center;
  align-content: center;
  width: 94px;
  height: 94px;
  border: 1px solid #999;
  background-color: #999;
  cursor: pointer;
  color: #333;
  margin: 0 32px 28px;
}
.slide-up-enter-active[data-v-26ca8564] {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.slide-up-leave-active[data-v-26ca8564] {
  -webkit-transition: all 0.8s cubic-bezier(1, 0.5, 0.8, 1);
  transition: all 0.8s cubic-bezier(1, 0.5, 0.8, 1);
}
.slide-up-enter[data-v-26ca8564],
.slide-up-leave-to[data-v-26ca8564] {
  -webkit-transform: translateY(500px);
  transform: translateY(500px);
  opacity: 0;
}
*,
body,
html {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  color: #333;
  background: #fff;
}
main {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  background-image: url(../img/background.6723ecce.jpg);
  background-size: cover;
}
.side-panel,
main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.side-panel {
  height: 60px;
}
.reset-button {
  border: 1px solid #ccc;
  background-color: #ccc;
  padding: 4px 14px;
}
